.grid-hairline {
    display: grid;
    gap: 1px;
    background-color: #dfecd8; 
}

.cell-bg {
    background-color: #FFFFFF;
}

:host {
    display: block;
    width: 100%;
}

.inventory-card {
    min-height: 120px;
}
