<footer class="bg-surface-container border-t border-outline-variant full-width bottom-0 mt-auto">
  <div class="flex flex-col md:flex-row justify-between items-center w-full px-lg py-md gap-sm">
    <div class="text-label-caps font-label-caps font-bold text-primary">
      © 2026 CS:ANALYTICS MARKETPLACE - Àlex Navarro / Alvaro Gomez
    </div>
    <div class="flex gap-md">
      <a class="text-label-caps font-label-caps text-on-surface-variant hover:text-primary underline transition-all" href="#">API Status</a>
      <a class="text-label-caps font-label-caps text-on-surface-variant hover:text-primary underline transition-all" href="#">Terms</a>
      <a class="text-label-caps font-label-caps text-on-surface-variant hover:text-primary underline transition-all" href="#">Support</a>
      <a class="text-label-caps font-label-caps text-on-surface-variant hover:text-primary underline transition-all" href="#">Market Rules</a>
    </div>
  </div>
</footer>
