<footer class="bg-surface-container border-t border-outline-variant full-width bottom-0 mt-auto">
  <div class="flex flex-col md:flex-row justify-between items-center w-full px-lg py-md gap-sm">
    <!-- Logotip del peu de pàgina situat a l'esquerra de tot amb text corporatiu -->
    <div class="flex items-center gap-md">
      <img src="/logo.png?v=1" alt="CS:ANALYTICS Logo"
        class="w-10 h-10 rounded-full border border-primary object-cover hover:scale-110 transition-transform duration-200">
      <div class="text-label-caps font-label-caps font-bold text-primary">
        © 2026 CS:ANALYTICS MARKETPLACE - Àlex Navarro / Alvaro Gomez
      </div>
    </div>
    <div class="flex gap-md">
    </div>
  </div>
</footer>